* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: grid;
    grid-template-columns: 132px 1fr;
    min-height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "header header"
        "aside products"
        "footer footer";
    background-color: #B6B6B6;
}

.header {
    grid-area: header;
    background-color: #2F001C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.header img {
    max-height: 215px;
    width: auto;
    margin: 50px;
    display: block;
}

.aside {
    grid-area: aside;
    background-color: #F49B9F;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.aside h2 {
    margin: 13px;
    height: 3px;
}

.aside ul {
    display: flex;
    flex-direction: column;
    padding: 13px;
    list-style-type: none;
    font-size: 14px;
    margin: 7px;
    gap: 5px;
}

.products {
    display: grid;
    grid-area: products;
    background-color: #FFEE12;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 5px;
}

.boxes {
    background-color: #B6B6B6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boxes img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.product-details h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.product-price {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.boton {
    padding: 10px;
    background-color: #FFEE12;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: black;
    margin-top: 10px;
    width: 380px;
    font-weight: bold;
}

.footer {
    grid-area: footer;
    background-color: #004AAD;
    height: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 25px;
}